@font-face {
    font-family: 'Monsterrat-Medium';
    src: url('./Montserrat/Montserrat-Medium.ttf');
}
@font-face {
    font-family: 'Gilroy-Bold';
    src: url('./Gilroy/Gilroy-Bold.ttf');
}
@font-face {
    font-family: 'Gilroy-Regular';
    src: url('./Gilroy/Gilroy-Regular.ttf');
}